<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="apiPath" value=""/>
  </appSettings>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension="ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension="woff" mimeType="font/x-woff" />
      <mimeMap fileExtension="woff2" mimeType="font/x-woff2" />
      <mimeMap fileExtension="json" mimeType="application/json"/>
    </staticContent>
  </system.webServer>
</configuration>