<div class="social-box center-block">
    <div class="row mg-btm">
            <a href="#" class="btn btn-primary btn-block" data-ng-click="loginWithProvider('facebook')">
                <i class="fa fa-facebook"></i> &nbsp;&nbsp;&nbsp;Facebook
            </a>
    </div>
    <div class="row">
            <a href="#" class="btn btn-info btn-block" data-ng-click="loginWithProvider('twitter')">
                <i class="fa fa-twitter"></i> &nbsp;&nbsp;&nbsp;Twitter
            </a>
    </div>
    <div class="row">
            <a href="#" class="btn btn-danger btn-block"  data-ng-click="loginWithProvider('google')">
                <i class="fa fa-google"></i> &nbsp;&nbsp;&nbsp;Google
            </a>
    </div>
    <hr />
    <div class="row">
            <a href="#" class="btn button-msa btn-block" data-ng-click="loginWithProvider('microsoftaccount')">
               <span class="msalogo"></span> &nbsp;&nbsp;&nbsp;Microsoft Account
            </a>
    </div>
    <div class="row">
            <a href="#" class="btn button-aad btn-block" data-ng-click="loginWithProvider('aad')">
               <span class="aadlogo"></span> &nbsp;&nbsp;&nbsp;Azure AD
            </a>
    </div>
</div>

 