<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="io.cordova.TodoListUpload" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>TodoList-Upload</name>
  <description>An Apache Cordova for Visual Studio project that lets you insert new items into Microsoft Azure along with (optionally) a captured image file blob. Supported mobile platforms: Android and iOS.</description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">Apache Cordova Team </author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.0" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="Orientation" value="portrait" />
  <vs:plugin name="org.apache.cordova.console" version="0.2.11" />
  <vs:plugin name="org.apache.cordova.file" version="1.3.1" />
  <vs:plugin name="org.apache.cordova.media-capture" version="0.3.3" />
  <vs:plugin name="com.microsoft.azure-mobile-services" version="1.2.7" />
  <vs:plugin name="org.apache.cordova.device" version="0.2.12" />
  <vs:platformSpecificValues />
</widget>